@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .Mode.dark {
    background-color: #3a383b;
    color: #e1e1e1;
    transition: all 0.5s;
  }

  .Mode.light {
    background-color: #ffff;
    color: #353535;
    transition: all 0.5s;
  }
}

/* styles.css */
body.dark {
  background-color:#3a383b;
  color: #eee;
}
